<nav class="navbar">
  <div class="logo-container">
    <img src="./spoiled-rotten-dog-sketch.jpeg" alt="Logo" class="logo" (click)="scrollToTop()" />
    <span class="navbar-title">Spoiled Rotten Pet Resort</span>
  </div>
  <ul class="nav-links">
    <li><button (click)="scrollToSection('about')">About</button></li>
    <li><button (click)="scrollToSection('book-now')">Book Now</button></li>
    <li><button (click)="scrollToSection('meet-the-team')">Meet The Team</button></li>
    <li><button (click)="scrollToSection('faq')">FAQ</button></li>
    <li><button (click)="scrollToSection('contact')">Contact Us</button></li>
  </ul>
</nav>

<div class="content">
  <section id="about">
    <app-about></app-about>
  </section>

  <section id="book-now">
    <app-book-now></app-book-now>
  </section>

  <section id="meet-the-team">
    <app-meet-the-team></app-meet-the-team>
  </section>

  <section id="faq">
    <app-faq></app-faq>
  </section>

  <section id="contact" class="contact-section">
    <app-contact></app-contact>
  </section>
</div>