<nav class="navbar">
  <div class="logo-container">
    <img src="assets/icons/spoiled-rotten-dog-sketch.jpeg" alt="Logo" class="logo" (click)="scrollToTop()" />
    <span class="navbar-title">Spoiled Rotten Pet Resort</span>
  </div>
  <ul class="nav-links">
    <li><button (click)="scrollToSection('about')">About</button></li>
    <li><button (click)="scrollToSection('book-now')">Our Services</button></li>
    <li><button (click)="scrollToSection('meet-the-team')">Meet The Team</button></li>
    <li><button (click)="scrollToSection('faq')">FAQ</button></li>
    <li><button (click)="scrollToSection('contact')">Contact Us</button></li>
  </ul>
</nav>

<div class="content">
  <section id="about">
    <about></about>
  </section>
  
  <section id="book-now">
    <book-now></book-now>
  </section>

  <section id="meet-the-team">
    <app-meet-the-team></app-meet-the-team>
  </section>

  <section id="faq">
    <faq></faq>
  </section>

  <section id="contact" class="contact-section">
    <contact></contact>
  </section>
</div>