<div class="about-container">
    <div class="about-text">
      <h2>About Us</h2>
      <p>
        The South is all about their furry family, and we are too! That's we we created an indoor pet resort to offer a consistent, safe, and fun stay of any length for dogs of all shapes and sizes right here in Gadsden!
      </p>
      <p>Indoor dog boarding offers a safe, climate-controlled environment where pets receive constant supervision, reducing risks from harsh weather and outdoor hazards. Our resort also provide structured routines, socialization opportunities, and personalized care, ensuring dogs stay comfortable and engaged. With trained staff on hand, medical needs and dietary requirements can be closely monitored, giving pet owners peace of mind while they are away.</p>
      <p>Our passion for dogs extends to our own family, and our dog Brisket is the mascot of our facility both in name and face, sharing a little piece of our family with you!</p>
      <p>We hope you enjoy your stay, and tell your pets we said "Hello"!</p>
    </div>
    <div class="about-image-container">
      <img src="./BrisketAtRestaurant.jpg" alt="About Us Image" class="about-image" />
    </div>
  </div>
