<div class="team-container">
  <h2>Meet the Team</h2>
  <div class="team-grid">
    <div class="team-member">
      <img src="./BecaAndBrisket.jpg" alt="Team Member 1" class="profile-image" />
      <h3>Beca</h3>
      <p>Owner | Groomer | Hotel Manager</p>
      <p class="bio">
        Been in the pet industry over a decade. Previously worked as a PetSmart Hotel Manager, PetSmart Salon Leader, and Petco Salon Leader. Fear-Free certified.
      </p>
    </div>
    <div class="team-member">
      <img src="./DrakeAndBriskets.jpg" alt="Team Member 2" class="profile-image" />
      <h3>Drake</h3>
      <p>Co-owner | IT Administrator</p>
      <p class="bio">
        Software developer by day, IT administrator by night. Can also be seen helping out the front desk
      </p>
    </div>
    <div class="team-member">
      <img src="./TurkeyBrisket.jpg" alt="Team Member 3" class="profile-image" />
      <h3>Brisket</h3>
      <p>Head of Security</p>
      <p class="bio">
        2 years of security lead expertise under his collar.
      </p>
    </div>
  </div>
</div>
