<div class="team-container">
  <h2>Meet the Team</h2>
  <p class="contact-subtitle">Meet the lovely folks that spoil your pets!</p>
  <div class="team-grid">
    <div class="team-member">
      <div class="member-header">
        <img src="assets/icons/BecaAndBrisket.jpg" alt="Team Member 1" class="profile-image" />
        <h3>Beca</h3>
      </div>
      <p>Owner | Groomer | Hotel Manager</p>
      <p class="bio">
        Been in the pet industry over a decade. Previously worked as a PetSmart Hotel Manager, PetSmart Salon Leader, and Petco Salon Leader. Fear-Free certified.
      </p>
    </div>
    <div class="team-member">
      <div class="member-header">
        <img src="assets/icons/DrakeAndBriskets.jpg" alt="Team Member 2" class="profile-image" />
        <h3>Drake</h3>
      </div>
      <p>Co-owner | IT Administrator</p>
      <p class="bio">
        Software developer by day, IT administrator by night. Can also be seen helping out the front desk
      </p>
    </div>
    <div class="team-member">
      <div class="member-header">
        <img src="assets/icons/TurkeyBrisket.jpg" alt="Team Member 3" class="profile-image" />
        <h3>Brisket</h3>
      </div>
      <p>Head of Security</p>
      <p class="bio">
        2 years of security lead expertise under his collar.
      </p>
    </div>
    <div class="team-member">
       <div class="member-header">
      <img src="assets/icons/Poppy.jpg" alt="Dennis Dryer" class="profile-image" />
      <h3>Dennis Dryer</h3>
      </div>
      <p>Chief Nuclear Engineer (Retired) | Projects Controls Manager | Head of Maintenance</p>
      <p class="bio">
        With three decades of project management experience, our project manager, lead architect, and head of maintenance handles everything from our kennel design to our power needs ensuring our facility is safe and stable at all times!
      </p>
    </div>
  </div>
</div>
