/* General Section Styling */
#meet-the-team {
    padding: 3rem 1.5rem;
    background-color:var(--cadet-blue); /* Light background color */
    text-align: center;
  }
  
  .team-container h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: var(--dark-navy);
  }
  
  /* Grid Layout */
  .team-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    gap: 2rem; /* Spacing between grid items */
    width: 100%; /* Allow full width */
    max-width: 100%; /* Limit grid container's max width for alignment */
    margin: 0 auto; /* Center the grid container */
    justify-content: center;
    align-items: stretch; /* Ensures all items stretch to the same height */
  }
  
  /* Individual Team Member Card */
  .team-member {
    max-width: 300px;
    text-align: center;
    background:var(--cadet-blue);
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    height: 450px; /* Increased height to accommodate more text */
    overflow: hidden; /* Prevent content overflow */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .team-member:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }
  
  /* Profile Image */
  .profile-image {
    width: 100%;
    height: 140px;
    max-width: 120px;
    border-radius: 50%;
    margin-bottom: 0.75rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    object-fit: cover;
  }
  
  /* Team Member Details */
  .team-member h3 {
    font-size: 1.3rem;
    margin: 0.4rem 0;
    color: var(--dark-navy);
  }
  
  .team-member p {
    font-size: 1.1rem;
    color: var(--dark-navy);
    margin: 0.3rem 0;
  }
  
  .team-member .bio {
    font-size: 0.9rem;
    margin-top: 0.5rem;
    color: var(--dark-navy);
    flex-grow: 1;
    display: flex;
    align-items: center;
    line-height: 1.4;
  }

  @media (max-width: 768px) { /* Tablet & Mobile */
    .team-grid {
      grid-template-columns: 1fr; /* Single column */
    }

    .team-member {
      max-width: 100%;
      padding: 1.0rem;
      border-radius: 5px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      height: 450px; /* Match desktop height */
      overflow: hidden; /* Prevent content overflow */
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .team-member p {
      font-size: 1.00rem;
    }

    .team-member .bio {
      font-size: 0.75rem;
      margin-top: 0.25rem;
    }
  }
  
  @media (max-width: 480px) { /* Small Phones */
    .team-grid {
      grid-template-columns: 1fr; /* Force single column layout on very small screens */
    }
  
    .team-member {
      height: auto; /* Optional: allow card height to adjust */
    }
  }