:root {
    --dark-vanilla: #dec0ae;
    --parrot-pink: #d4949d;
    --liberty: #5c63a4;
    --lavender-purple: #8b7fac;
    --cadet-blue: #acb0cc;
    --pink-limestone: #ebe2ed;
    --dark-navy: #070730;
  }
  
  @font-face {
    font-family: 'Glimmer of Light';
    src: url('assets/fonts/GlimmerOfLight.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    color: var(--liberty);
    margin: 0;
    padding: 0;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: var(--liberty);
  }
  
  a {
    color: var(--liberty);
    text-decoration: none;
  }
  
  a:hover {
    color: var(--parrot-pink);
  }
  
  section {
    padding: 100px 20px;
    scroll-margin-top: 80px; /* Adjust for fixed navbar height */
    max-width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: var(--dark-vanilla);
    color: var(--liberty);
  }
  
  section:nth-child(even) {
    background: var(--pink-limestone);
  }
  
  section:nth-child(odd) {
    background: var(--cadet-blue);
  }

  .button {
    padding: 15px 30px;
    background-color: var(--liberty);
    color: var(--dark-vanilla);
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .button:hover {
    background-color: var(--lavender-purple);
    transform: scale(1.05);
  }

  html {
    scroll-behavior: smooth;
  }

  @media (max-width: 768px) {
    section {
      height: auto;
      padding: 50px 20px;
      scroll-margin-top: 10px; /* Adjust for fixed navbar height */
  }
  }