<div class="book-now-content">
    <div class="store-hours">
      <h3>Opening Hours</h3>
      <ul>
        <li><span>Monday:</span> 8 AM - 8:30 PM</li>
        <li><span>Tuesday:</span> 8 AM - 8:30 PM</li>
        <li><span>Wednesday:</span> 8 AM - 8:30 PM</li>
        <li><span>Thursday:</span> 8 AM - 8:30 PM</li>
        <li><span>Friday:</span> 8 AM - 8:30 PM</li>
        <li><span>Saturday:</span> 8 AM - 8:30 PM</li>
        <li><span>Sunday:</span> 8 AM - 8:30 PM</li>
        <li><span>Closed Daily:</span> 1 PM - 3 PM</li>
      </ul>
    </div>
  </div>
  <p>These hours are for walk-in services only. Appointments are required for grooming and boarding.</p>
  <p>Appointment availability can be viewed when by booking your appointment below.</p>

<a href="https://pawpartner.com/pz/book?p=2174788">
    <button class="book-now-btn">BOOK NOW!</button>
</a>
