/* Tabs Container */
.tabs-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    border-bottom: 2px solid #ddd;
  }
  
  /* Tabs */
  .tabs {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  .tab {
    margin-right: 20px;
  }
  
  .tab a {
    text-decoration: none;
    padding: 10px 15px;
    color: #333;
    border-radius: 4px 4px 0 0;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .tab a:hover {
    background-color: #f0f0f0;
    color: #007bff;
  }
  
  .tab a.active-tab {
    background-color: #007bff;
    color: #fff;
    border-bottom: 2px solid transparent;
  }